
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
var
all
freetpl
images/**/*.png
#6295d3fc6c7110a74f2ffa1dbbe3b877.png
#b0fb4d311d2ecedd29160b82b2f8c982.png
vendor
.idea/*
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
