{% extends 'base.html.twig' %}

{% block bodyHead %}
<section class="wrapper">
    <div class="inner">
        <header class="special">

            SORRY</br>
            You have not left a comment
                        yet.

        </header>

        {% endblock %}

        {% block body %}{% endblock %}
        {% block endBodyHead %}
    </div>
</section>
{% endblock %}


