{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>Sem turpis amet semper</h2>
            <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
        </header>
<div class = "container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>Login:</h3>

        </div>

    <div class="panel-body">
        {%if errors %}
    <div class="alert alert-danger">
        {{ errors.messageKey }}
    </div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="username" id="username" class="form-control" value="{{ username }}" >
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                        <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" id="password" class="form-control">
                        </div>
                </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="btn btn-info pull-right">Connect</button>

        </form>


    </div>

    </div>




</div>
    </div>
</section>


{% endblock %}
